<!DOCTYPE html>
<html>
    <head>
        <title>Oops</title>
        <%- include('bootstrap') %>
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <%- include('navbar') %>
        <div class="container not-found">
            <h1>Si è verificato un errore. I nostri tecnici sono già al lavoro.</h1>
            <img src="/assets/error.gif">
        </div>
    </body>
</html>