<!DOCTYPE html>
<html>
    <head>
        <title>Add Book</title>
        <%- include('bootstrap') %>
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <%- include('navbar') %>
        <div class="container">
            <form action="/books" method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">Titolo</label>
                    <input type="text" class="form-control" name="title" >
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Autore</label>
                    <input type="text" class="form-control" name="author" >
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Descrizione</label>
                    <textarea class="form-control" name="description"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Thumbnail</label>
                    <input type="text" class="form-control" name="thumbnail">
                </div>
                <button type="submit" class="btn btn-primary">Aggiungi</button>
            </form>
        </div>
    </body>
</html>