<!DOCTYPE html>
<html>
    <head>
        <title>Oops</title>
        <%- include('bootstrap') %>
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <%- include('navbar') %>
        <div class="container not-found">
            <h1>Oops... Non troviamo la pagina che hai chiesto</h1>
            <img src="/assets/404.gif">
        </div>
    </body>
</html>